.libs
.deps
.libs
.dirstamp
.DS_Store
.cdt*
.project
.gdb*

.hgrc
.hgignore
.hg
.hgignore_local

*.la
*.lo
*.o
*.so
*.a
*.dwarf
*.dSYM
*.S
*.loT
*.orig
*.rej
*.bak
*.class
*.xcscheme
*.out
*.plist
*.orig
*.obj
*.mod
*.i90
*.ii
*.ti
*.exe
*.log
*.trs
*.sapp
*~
*\\#

Makefile
static-components.h
*\\#
config.cache
aclocal.m4
autom4te.cache
config.log
config.status
configure
libtool
doxygen
bin
lib
cscope.*
etags
GRTAGS
GSYMS
GTAGS
GPATH
vc70.pdb
.hgrc
.hgignore
.hg
.hgignore_local
stamp-h?

ar-lib
ylwrap
config.lt
config.guess
config.sub
depcomp
compile
install-sh
ltmain.sh
missing
mkinstalldirs
libtool.m4
lt~obsolete.m4
ltdl.m4
argz.m4
ltargz.m4
ltsugar.m4
ltversion.m4
ltoptions.m4
build-stamp
config.h
openshmem.module
doc/oshc++.1
doc/oshcc.1
doc/oshcxx.1
doc/oshfort.1
doc/oshrun.1
src/comms/comms-inline.h
src/comms/comms-shared.h
src/comms/comms.mak
src/comms/gasnet/openshmem-template.pc
src/comms/gasnet/openshmem.pc
src/comms/gasnet/oshc++
src/comms/gasnet/oshcc
src/comms/gasnet/oshcxx
src/comms/gasnet/oshfort
src/comms/gasnet/oshrun
src/osh_info

